.errorMessage{
  grid-column: 1;
  grid-row: auto;
  align-self: center;
  font-family: 'Century Gothic';
  z-index: 10;
  color: red;
}



/*-----------------------------------------------------------------------------------------------*/
/*------------------------------------------------DESKTOP----------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
@media (orientation: landscape) {
.errorMessage{
    font-size: 1.5vw;
    word-spacing: 0.2vw;
  }

  .not-found-image{
    width: 41vw;
    height :27vw;
  }
}

/*-----------------------------------------------------------------------------------------------*/
/*------------------------------------------------MOBILE-----------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
@media (orientation: Portrait) {
  .errorMessage{
    font-size: 3vw;
    word-spacing: 0.4vw;
  }

  .not-found-image{
    width: 82vw;
    height :55vw;
  }
}