.wrapper-discover {
  position : relative; 
  display: grid; /* ceci est une grille */
  grid-template-columns: 1fr; /* 1 colonne qui occupe tout l'espace disponible */
  justify-items: center; /* les enfants sont centrés verticalement */
  grid-auto-flow: column; /* les enfants sont placés au fur et à mesure dans la colonne */
  grid-auto-rows: auto;
}

.box-discover{ /* flexbox */
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: auto;
  border-radius: 20px;
  align-content: center;
  align-items: center;
}

.item-discover{ /* flexbox's childs */
  text-align: center;
}

.title-discover{
  text-align: center;
  background: linear-gradient(to bottom, #E1DDDD, #B4B1B1);
  background-clip: text;
  color: transparent;
}

.tag-discover{
  text-align: center;
  color : grey;
}

.description-discover{
  text-align : justify;
  color : white;
  line-height: 200%;
}

.button-discover{
  align-self: center;
  font-family: var(--font-secondary);
  z-index: 10;
  border: 1px solid rgb(50,50,50);
  color : white;
  background-color: rgba(60,60,60,1);
}

.button-discover:hover{ 
  background-color: rgba(80,80,80,1);
  color: black; 
  cursor: pointer;
}


/*-----------------------------------------------------------------------------------------------*/
/*------------------------------------------------DESKTOP----------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
@media (orientation: landscape) {

  .wrapper-discover { /* grid */
    top : 6vw;
    grid-row-gap: 2vw;
    padding-bottom: 1vw; 
  }

  .box-discover{ /* flexbox */
    padding: 1vw 2vw; /* 1 top/bot 2 left/right */
  }

  .item-discover{ /* flexbox's childs */
    margin-top : 1vw;
    margin-bottom: 2vw;
  }

  .title-discover{
    font-size: 2vw;
    letter-spacing: 0.2vw;
    padding-bottom: 1.5vw;
  }

  .tag-discover{
    font-size: 1.5vw;
    word-spacing: 0.5vw;
    margin-bottom: 3vw;
  }

  .description-discover{
    font-size: 1.25vw;
    word-spacing: 0.1vw;
    width: 65vw;
    margin-bottom: 5vw !important;
    padding : 1vw 4vw;
    border-left: 0.3vw solid;
    border-right: 0.3vw solid;
    border-image: linear-gradient(to bottom, #545869, #3A4EB3) 10
  }

  .caroussel-discover{
    align-self: center;
    width:50vw;
    margin-bottom: 5vw !important;
  }

  .youtube-discover{
    width:50vw;
    height: 28.125vw;
    border : none;
    margin-bottom: 5vw !important;
  }

  .button-discover{
    font-size: 2vw;
    word-spacing: 0.3vw;
    padding: 0.5vw;
  }

}

/*-----------------------------------------------------------------------------------------------*/
/*------------------------------------------------MOBILE-----------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
@media (orientation: Portrait) {

  .wrapper-discover { /* grid */
    top : 15vw;/*15vw*/
    grid-row-gap: 6vw;/*4vw*/
    padding-bottom: 2vw;
  }

  .box-discover{ /* flexbox */
    padding: 4vw 4vw;/*2vw*/  /* 2 top/bot 4 left/right */ 
  }

  .item-discover{ /* flexbox's childs */
    margin-bottom: 6vw;/*2vw*/
    margin-top: 6vw;/*2vw*/
  }

  .title-discover{
    font-size: 9vw;/*6vw*/
    letter-spacing: 0.1vw;
  }

  .tag-discover{
    font-size: 4.5vw;/*3vw*/
    word-spacing: 1vw;
  }

  .description-discover{
    font-size: 4.5vw;/*3vw*/
    word-spacing: 0.1vw;

    padding : 2vw 4vw;
    border-left: 0.9vw solid;/*0.6vw solid;*/
    border-right: 0.9vw solid;/*0.6vw solid;*/
    border-top : none;
    border-bottom: none;
    border-image: linear-gradient(to bottom, #545869, #3A4EB3) 10;
  }

  .caroussel-discover{
    align-self: center;
    width: 80vw;
  }

  .youtube-discover{
    width:80vw;
    height: 45vw;
    border : none;
    margin-bottom: 12vw;
  }

}