.wrapper-project {
  position : relative; 
  display: grid; /* ceci est une grille */
  justify-items: center; /* les enfants sont centrés verticalement */
}

.item-project{
  display: flex;
  justify-items: center;
  flex-direction : column;
  grid-row: auto;
  background-color: rgba(33,33,33,1);
}

.buttons-project{
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
}

.buttons-project > button {
  font-family: none;
  font-family: inherit;
  cursor: pointer;
  color : white;
  text-decoration: none;
  text-align: center;
  align-self: center;
  width: fit-content;
  background-color: transparent;
}

.updateProjectButton-project{
  color : #CFC3C3 !important;
}

.deleteProjectButton-project{
  color: rgb(232, 16, 41) !important;
}

.updateProjectButton-project:hover{
  color: white !important;
  cursor: pointer;
}

.deleteProjectButton-project:hover{
  background-color: rgb(232, 16, 41);
  color: white !important; 
  cursor: pointer;
}

.title-project{
  text-align: center;
  color : white;
}

.tag-project{
  text-align: center;
  color : grey;
}

.image-project{
  margin: auto;
  align-self: center;
}


.buttonAdd-project{
  grid-column: 1/3;
  font-family: Futura , Segoe UI , Tahoma, Trebuchet MS, Arial, sans-serif;
  color : #CFC3C3 !important;
  text-decoration: none;
  background-color: transparent;
}

.buttonAdd-project:hover {
  background-color: rgba(33,33,33,1);
  color: white !important;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------------------------*/
/*------------------------------------------------DESKTOP----------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
@media (orientation: landscape) {

  .wrapper-project {
    top : 8vw;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr; /* 2 colonnes qui occupe tout l'espace disponible */  
    grid-auto-flow: row; /* les enfants sont placés au fur et à mesure dans la colonne */
  }

  .item-project{
    position: relative;
    grid-column: auto;
    grid-row-gap: 1vw;
    padding : 2vw;
    width: 35vw;
    border: 0.2vw solid;
    border-image: linear-gradient(to bottom, #545869, #3A4EB3) 10;
    margin-bottom: 3vw;
  }


  .buttons-project > button {
    margin : 0.5vw;
    font-size: 1.5vw;
    word-spacing: 0.15vw;
    margin-bottom: 1vw;
    padding: 0.5vw;
  }

  .deleteProjectButton-project{
    border: 0.2vw solid;
    border-color:  rgb(232, 16, 41);
  }

  .updateProjectButton-project{
    border: 0.2vw solid;
    border-image: linear-gradient(to bottom, #545869, #3A4EB3) 10;
  }
  

  .title-project{
    font-size: 2vw;
    letter-spacing: 0.2vw;
    background: linear-gradient(to bottom, #E1DDDD, #B4B1B1);
    background-clip: text;
    color: transparent;
  }

  .tag-project{
    font-size: 1vw;
    word-spacing: 0.5vw;
  }

  .image-project{
    width: 20vw;
    padding-bottom: 3vw;
  }

  .button-container-project{
    text-decoration: none;
    position: relative;
    align-self: center;
    width: 13vw;
    height : 3vw;
  }

  .button-border-project{
    position: absolute;
    bottom: 0vw;
    width : 13vw;
    height : 3vw;
    align-self: center;
    background: transparent;
    border: 0.2vw solid;
    border-image: linear-gradient(to bottom, #545869, #3A4EB3) 10;
  }

  .button-text-project{
    text-decoration: none;
    font-size: 2vw;
    color: rgba(150,150,150,1);
    text-align: center;
  }

  .button-container-project:hover > .button-text-project{
    color : #CFC3C3;
  }

  .button-border-project-bot-left{
    transition: 250ms;
    transform : translate(0.2vw,-0.2vw);
  }

  .button-border-project-top-right{
    transition: 250ms;
    transform : translate(-0.2vw,0.2vw);
  }

  .button-container-project:hover > .button-border-project-bot-left{
    transition: 250ms;
    transform : translate(0.3vw,-0.3vw);
  }

  .button-container-project:hover > .button-border-project-top-right{
    transition: 250ms;
    transform : translate(-0.3vw,0.3vw);
  }


  .buttonAdd-project{
    font-size: 1.5vw;
    margin-bottom: 5vw;
    padding: 0.5vw;
    border: 0.2vw solid;
    border-image: linear-gradient(to bottom, #545869, #3A4EB3) 10;
  }

}

/*-----------------------------------------------------------------------------------------------*/
/*------------------------------------------------MOBILE-----------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
@media (orientation: Portrait) {

  .wrapper-project {
    top : 25vw;
    grid-auto-rows: auto;
    grid-template-columns: 1fr; /* 2 colonnes qui occupe tout l'espace disponible */  
    grid-auto-flow: row; /* les enfants sont placés au fur et à mesure dans la colonne */
  }

  .item-project{
    position: relative;
    grid-column: 1/2;
    grid-row-gap: 2vw;
    padding : 3vw;
    width: 60vw;
    border: 0.45vw solid;
    border-image: linear-gradient(to bottom, #545869, #3A4EB3) 10;
    margin-bottom: 10vw;
  }

  .buttons-project > button {
    margin : 1vw;
    font-size: 3vw;
    word-spacing: 0.3vw;
    margin-bottom: 2vw;
    padding: 1vw;
  }

  .deleteProjectButton-project{
    border: 0.4vw solid;
    border-color:  rgb(232, 16, 41);
  }

  .updateProjectButton-project{
    border: 0.4vw solid;
    border-image: linear-gradient(to bottom, #545869, #3A4EB3) 10;
  }

  .title-project{
    font-size: 6vw;
    letter-spacing: 0.1vw;
  }

  .tag-project{
    font-size: 3vw;
    word-spacing: 1vw;
  }

  .image-project{
    margin: 2vw 0; /*marge en haut et en bas*/
    width: 40vw;
    padding-bottom: 2vw;
  }

  .button-container-project{
    text-decoration: none;
    position: relative;
    align-self: center;
    width: 26vw;
    height : 6vw;
  }

  .button-border-project{
    position: absolute;
    bottom: 0vw;
    width : 26vw;
    height : 6vw;
    align-self: center;
    background: transparent;
    border: 0.4vw solid;
    border-image: linear-gradient(to bottom, #545869, #3A4EB3) 10;
  }

  .button-text-project{
    text-decoration: none;
    font-size: 4vw;
    color: rgba(150,150,150,1);
    text-align: center;
  }

  .button-border-project-bot-left{
    transform : translate(0.4vw,-0.4vw);
  }

  .button-border-project-top-right{
    transform : translate(-0.4vw,0.4vw);
  }


  .buttonAdd-project{
    font-size: 3vw;
    margin-bottom: 10vw;
    padding: 1vw;
    border: 0.4vw solid;
    border-image: linear-gradient(to bottom, #545869, #3A4EB3) 10;
  }
}